
@import url('https://fonts.googleapis.com/css?family=Numans');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* NEW 2:  or something cool */
  background: linear-gradient(#222222 50%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #222222 53%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #222222 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
  background-size: 110px 200px;
  background-repeat: repeat-x;

  color: white;
}


/*NEW*/
.big-input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto 50px;
  padding: 1.5rem 1.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: calc(100% - 100px);
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
