<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>exetera2-examples documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">exetera2-examples documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>PexelsComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/pexels/pexels.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
                    <code><a href="https://angular.io/api/core/AfterViewInit" target="_blank" >AfterViewInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-pexels</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;form #f&#x3D;&quot;ngForm&quot; (ngSubmit)&#x3D;&quot;submit()&quot;&gt;
  &lt;input class&#x3D;&quot;big-input&quot;  #inputText type&#x3D;&quot;text&quot; ngModel name&#x3D;&quot;text&quot; required&gt;
  &lt;select class&#x3D;&quot;big-input&quot;  [(ngModel)]&#x3D;&quot;type&quot; name&#x3D;&quot;type&quot; required (change)&#x3D;&quot;changeType()&quot;&gt;
    &lt;option value&#x3D;&quot;&quot;&gt;Select a type&lt;/option&gt;
    &lt;option value&#x3D;&quot;image&quot;&gt;Image&lt;/option&gt;
    &lt;option value&#x3D;&quot;video&quot;&gt;Video&lt;/option&gt;
  &lt;/select&gt;
  &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;f.invalid&quot; hidden&gt;GO&lt;/button&gt;
  &lt;button (click)&#x3D;&quot;resetHandler()&quot;&gt;reset&lt;/button&gt;
&lt;/form&gt;

&lt;div style&#x3D;&quot;overflow: auto; width: 100%&quot;&gt;
  &lt;div style&#x3D;&quot;display: flex&quot;&gt;

    &lt;!--image list--&gt;
    &lt;ng-container *ngIf&#x3D;&quot;type &#x3D;&#x3D;&#x3D; &#x27;image&#x27;&quot;&gt;
      &lt;div style&#x3D;&quot;flex-grow: 0&quot; *ngFor&#x3D;&quot;let img of images?.photos&quot;&gt;
        &lt;img [src]&#x3D;&quot;img.src.small&quot; alt&#x3D;&quot;&quot; (click)&#x3D;&quot;selectedPhoto &#x3D; img&quot;&gt;
      &lt;/div&gt;
    &lt;/ng-container&gt;

    &lt;!--video list--&gt;
    &lt;ng-container *ngIf&#x3D;&quot;type &#x3D;&#x3D;&#x3D; &#x27;video&#x27;&quot;&gt;
      &lt;div style&#x3D;&quot;flex-grow: 0; &quot; *ngFor&#x3D;&quot;let video of videos?.videos&quot;&gt;
        &lt;img [src]&#x3D;&quot;video.image&quot; width&#x3D;&quot;200&quot; alt&#x3D;&quot;&quot; (click)&#x3D;&quot;selectedVideo &#x3D; video.video_files[0]&quot;&gt;
      &lt;/div&gt;
    &lt;/ng-container&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;img *ngIf&#x3D;&quot;selectedPhoto &amp;&amp; type &#x3D;&#x3D;&#x3D; &#x27;image&#x27;&quot; [src]&#x3D;&quot;selectedPhoto.src.medium&quot; width&#x3D;&quot;100%&quot;&gt;
&lt;video *ngIf&#x3D;&quot;selectedVideo &amp;&amp; type &#x3D;&#x3D;&#x3D; &#x27;video&#x27;&quot; [src]&#x3D;&quot;selectedVideo.link&quot; controls width&#x3D;&quot;100%&quot;&gt;&lt;/video&gt;

&lt;div *ngIf&#x3D;&quot;images?.photos.length &#x3D;&#x3D;&#x3D; 0&quot;&gt;non ci sono immagini&lt;/div&gt;
&lt;div *ngIf&#x3D;&quot;videos?.videos.length &#x3D;&#x3D;&#x3D; 0&quot;&gt;non ci sono video&lt;/div&gt;

</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#form">form</a>
                            </li>
                            <li>
                                <a href="#images">images</a>
                            </li>
                            <li>
                                <a href="#inputText">inputText</a>
                            </li>
                            <li>
                                <a href="#selectedPhoto">selectedPhoto</a>
                            </li>
                            <li>
                                <a href="#selectedVideo">selectedVideo</a>
                            </li>
                            <li>
                                <a href="#type">type</a>
                            </li>
                            <li>
                                <a href="#videos">videos</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#changeType">changeType</a>
                            </li>
                            <li>
                                <a href="#ngAfterViewInit">ngAfterViewInit</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#resetHandler">resetHandler</a>
                            </li>
                            <li>
                                <a href="#searchImage">searchImage</a>
                            </li>
                            <li>
                                <a href="#searchVideo">searchVideo</a>
                            </li>
                            <li>
                                <a href="#submit">submit</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#pippo">pippo</a>
                            </li>
                        </ul>
                    </td>
                </tr>




        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(http: <a href="https://angular.io/api/common/http/HttpClient" target="_blank">HttpClient</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="57" class="link-to-prism">src/app/features/pexels/pexels.component.ts:57</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>http</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/common/http/HttpClient" target="_blank" >HttpClient</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>

    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="pippo"></a>
                        <b>pippo</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="49" class="link-to-prism">src/app/features/pexels/pexels.component.ts:49</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>



    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="changeType"></a>
                    <span class="name">
                        <b>
                            changeType
                        </b>
                        <a href="#changeType"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>changeType()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="104"
                            class="link-to-prism">src/app/features/pexels/pexels.component.ts:104</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngAfterViewInit"></a>
                    <span class="name">
                        <b>
                            ngAfterViewInit
                        </b>
                        <a href="#ngAfterViewInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngAfterViewInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="67"
                            class="link-to-prism">src/app/features/pexels/pexels.component.ts:67</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="63"
                            class="link-to-prism">src/app/features/pexels/pexels.component.ts:63</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="resetHandler"></a>
                    <span class="name">
                        <b>
                            resetHandler
                        </b>
                        <a href="#resetHandler"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>resetHandler()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="110"
                            class="link-to-prism">src/app/features/pexels/pexels.component.ts:110</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="searchImage"></a>
                    <span class="name">
                        <b>
                            searchImage
                        </b>
                        <a href="#searchImage"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>searchImage(text: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="81"
                            class="link-to-prism">src/app/features/pexels/pexels.component.ts:81</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>text</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="searchVideo"></a>
                    <span class="name">
                        <b>
                            searchVideo
                        </b>
                        <a href="#searchVideo"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>searchVideo(text: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="92"
                            class="link-to-prism">src/app/features/pexels/pexels.component.ts:92</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>text</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="submit"></a>
                    <span class="name">
                        <b>
                            submit
                        </b>
                        <a href="#submit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>submit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="72"
                            class="link-to-prism">src/app/features/pexels/pexels.component.ts:72</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="form"></a>
                        <span class="name">
                            <b>
                            form</b>
                            <a href="#form"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://angular.io/api/forms/NgForm" target="_blank" >NgForm</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @ViewChild(&#x27;f&#x27;)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="50" class="link-to-prism">src/app/features/pexels/pexels.component.ts:50</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="images"></a>
                        <span class="name">
                            <b>
                            images</b>
                            <a href="#images"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/ImageResult.html" target="_self" >ImageResult</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="54" class="link-to-prism">src/app/features/pexels/pexels.component.ts:54</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="inputText"></a>
                        <span class="name">
                            <b>
                            inputText</b>
                            <a href="#inputText"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>ElementRef&lt;HTMLInputElement&gt;</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @ViewChild(&#x27;inputText&#x27;, {static: true})<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="51" class="link-to-prism">src/app/features/pexels/pexels.component.ts:51</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="selectedPhoto"></a>
                        <span class="name">
                            <b>
                            selectedPhoto</b>
                            <a href="#selectedPhoto"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Photo.html" target="_self" >Photo</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="56" class="link-to-prism">src/app/features/pexels/pexels.component.ts:56</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="selectedVideo"></a>
                        <span class="name">
                            <b>
                            selectedVideo</b>
                            <a href="#selectedVideo"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/VideoFile.html" target="_self" >VideoFile</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="57" class="link-to-prism">src/app/features/pexels/pexels.component.ts:57</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="type"></a>
                        <span class="name">
                            <b>
                            type</b>
                            <a href="#type"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>&quot;video&quot; | &quot;image&quot; | &quot;&quot;</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="53" class="link-to-prism">src/app/features/pexels/pexels.component.ts:53</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="videos"></a>
                        <span class="name">
                            <b>
                            videos</b>
                            <a href="#videos"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/VideoResult.html" target="_self" >VideoResult</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="55" class="link-to-prism">src/app/features/pexels/pexels.component.ts:55</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { AfterViewInit, Component, ElementRef, Input, OnChanges, OnInit, ViewChild } from &#x27;@angular/core&#x27;;
import { HttpClient } from &#x27;@angular/common/http&#x27;;
import { ImageResult, Photo } from &#x27;./model/photo&#x27;;
import { VideoFile, VideoResult } from &#x27;./model/video&#x27;;
import { NgForm } from &#x27;@angular/forms&#x27;;

@Component({
  selector: &#x27;app-pexels&#x27;,
  template: &#x60;
    &lt;form #f&#x3D;&quot;ngForm&quot; (ngSubmit)&#x3D;&quot;submit()&quot;&gt;
      &lt;input class&#x3D;&quot;big-input&quot;  #inputText type&#x3D;&quot;text&quot; ngModel name&#x3D;&quot;text&quot; required&gt;
      &lt;select class&#x3D;&quot;big-input&quot;  [(ngModel)]&#x3D;&quot;type&quot; name&#x3D;&quot;type&quot; required (change)&#x3D;&quot;changeType()&quot;&gt;
        &lt;option value&#x3D;&quot;&quot;&gt;Select a type&lt;/option&gt;
        &lt;option value&#x3D;&quot;image&quot;&gt;Image&lt;/option&gt;
        &lt;option value&#x3D;&quot;video&quot;&gt;Video&lt;/option&gt;
      &lt;/select&gt;
      &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;f.invalid&quot; hidden&gt;GO&lt;/button&gt;
      &lt;button (click)&#x3D;&quot;resetHandler()&quot;&gt;reset&lt;/button&gt;
    &lt;/form&gt;

    &lt;div style&#x3D;&quot;overflow: auto; width: 100%&quot;&gt;
      &lt;div style&#x3D;&quot;display: flex&quot;&gt;

        &lt;!--image list--&gt;
        &lt;ng-container *ngIf&#x3D;&quot;type &#x3D;&#x3D;&#x3D; &#x27;image&#x27;&quot;&gt;
          &lt;div style&#x3D;&quot;flex-grow: 0&quot; *ngFor&#x3D;&quot;let img of images?.photos&quot;&gt;
            &lt;img [src]&#x3D;&quot;img.src.small&quot; alt&#x3D;&quot;&quot; (click)&#x3D;&quot;selectedPhoto &#x3D; img&quot;&gt;
          &lt;/div&gt;
        &lt;/ng-container&gt;

        &lt;!--video list--&gt;
        &lt;ng-container *ngIf&#x3D;&quot;type &#x3D;&#x3D;&#x3D; &#x27;video&#x27;&quot;&gt;
          &lt;div style&#x3D;&quot;flex-grow: 0; &quot; *ngFor&#x3D;&quot;let video of videos?.videos&quot;&gt;
            &lt;img [src]&#x3D;&quot;video.image&quot; width&#x3D;&quot;200&quot; alt&#x3D;&quot;&quot; (click)&#x3D;&quot;selectedVideo &#x3D; video.video_files[0]&quot;&gt;
          &lt;/div&gt;
        &lt;/ng-container&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;img *ngIf&#x3D;&quot;selectedPhoto &amp;&amp; type &#x3D;&#x3D;&#x3D; &#x27;image&#x27;&quot; [src]&#x3D;&quot;selectedPhoto.src.medium&quot; width&#x3D;&quot;100%&quot;&gt;
    &lt;video *ngIf&#x3D;&quot;selectedVideo &amp;&amp; type &#x3D;&#x3D;&#x3D; &#x27;video&#x27;&quot; [src]&#x3D;&quot;selectedVideo.link&quot; controls width&#x3D;&quot;100%&quot;&gt;&lt;/video&gt;

    &lt;div *ngIf&#x3D;&quot;images?.photos.length &#x3D;&#x3D;&#x3D; 0&quot;&gt;non ci sono immagini&lt;/div&gt;
    &lt;div *ngIf&#x3D;&quot;videos?.videos.length &#x3D;&#x3D;&#x3D; 0&quot;&gt;non ci sono video&lt;/div&gt;

  &#x60;,
})
export class PexelsComponent implements OnInit, AfterViewInit {
  @Input() pippo: string;
  @ViewChild(&#x27;f&#x27;) form: NgForm;
  @ViewChild(&#x27;inputText&#x27;, { static: true }) inputText: ElementRef&lt;HTMLInputElement&gt;

  type: &#x27;video&#x27; | &#x27;image&#x27; | &#x27;&#x27; &#x3D; &#x27;&#x27;;
  images: ImageResult;
  videos: VideoResult;
  selectedPhoto: Photo;
  selectedVideo: VideoFile;

  constructor(private http: HttpClient) {
    console.log(&#x27;ctr&#x27;, this.inputText)
  }

  ngOnInit() {
    console.log(&#x27;onInit&#x27;, this.inputText)
  }

  ngAfterViewInit() {
    console.log(&#x27;afterview&#x27;, this.inputText)
    this.inputText.nativeElement.focus()
  }

  submit() {
    // this.type &#x3D; f.value.type;
    if (this.type &#x3D;&#x3D;&#x3D; &#x27;image&#x27;) {
      this.searchImage(this.form.value.text)
    } else {
      this.searchVideo(this.form.value.text)
    }
  }

  searchImage(text: string) {
    this.http.get&lt;ImageResult&gt;( &#x27;https://api.pexels.com/v1/search?per_page&#x3D;10&amp;query&#x3D;&#x27; + text, {
      headers: {
        Authorization: &#x27;563492ad6f9170000100000189ac030285b04e35864a33b95c2838be&#x27;
      }
    })
      .subscribe(res &#x3D;&gt; {
        this.images &#x3D; res;
        this.selectedPhoto &#x3D; res.photos[0];
      })
  }
  searchVideo(text: string) {
    this.http.get&lt;VideoResult&gt;( &#x27;https://api.pexels.com/videos/search?per_page&#x3D;10&amp;query&#x3D;&#x27; + text, {
      headers: {
        Authorization: &#x27;563492ad6f9170000100000189ac030285b04e35864a33b95c2838be&#x27;
      }
    })
      .subscribe(res &#x3D;&gt; {
        this.videos &#x3D; res;
        this.selectedVideo &#x3D; res.videos[0] ? res.videos[0].video_files[0] : null
      });
  }

  changeType() {
    this.images &#x3D; null;
    this.videos &#x3D; null;
    this.submit();
  }

  resetHandler() {
    this.form.reset({ type: &#x27;&#x27;});
    // pulizia modello
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><form #f="ngForm" (ngSubmit)="submit()">  <input class="big-input"  #inputText type="text" ngModel name="text" required>  <select class="big-input"  [(ngModel)]="type" name="type" required (change)="changeType()">    <option value="">Select a type</option>    <option value="image">Image</option>    <option value="video">Video</option>  </select>  <button type="submit" [disabled]="f.invalid" hidden>GO</button>  <button (click)="resetHandler()">reset</button></form><div style="overflow: auto; width: 100%">  <div style="display: flex">    <!--image list-->    <ng-container *ngIf="type === \'image\'">      <div style="flex-grow: 0" *ngFor="let img of images?.photos">        <img [src]="img.src.small" alt="" (click)="selectedPhoto = img">      </div>    </ng-container>    <!--video list-->    <ng-container *ngIf="type === \'video\'">      <div style="flex-grow: 0; " *ngFor="let video of videos?.videos">        <img [src]="video.image" width="200" alt="" (click)="selectedVideo = video.video_files[0]">      </div>    </ng-container>  </div></div><img *ngIf="selectedPhoto && type === \'image\'" [src]="selectedPhoto.src.medium" width="100%"><video *ngIf="selectedVideo && type === \'video\'" [src]="selectedVideo.link" controls width="100%"></video><div *ngIf="images?.photos.length === 0">non ci sono immagini</div><div *ngIf="videos?.videos.length === 0">non ci sono video</div></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'CardComponent', 'selector': 'app-card'},{'name': 'HelloComponent', 'selector': 'app-hello'},{'name': 'HelpComponent', 'selector': 'app-help'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InputBarComponent', 'selector': 'app-input-bar'},{'name': 'InputIconComponent', 'selector': 'app-input-icon'},{'name': 'LoginComponent', 'selector': 'app-login'},{'name': 'LostpassComponent', 'selector': 'app-lostpass'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'PexelsComponent', 'selector': 'app-pexels'},{'name': 'RegistrationComponent', 'selector': 'app-registration'},{'name': 'SettingsComponent', 'selector': 'app-settings'},{'name': 'SigninComponent', 'selector': 'app-signin'},{'name': 'StaticMapComponent', 'selector': 'app-static-map'},{'name': 'TabbarComponent', 'selector': 'app-tabbar'},{'name': 'TvmazeComponent', 'selector': 'app-tvmaze'},{'name': 'Uikit1Component', 'selector': 'app-uikit1'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UsersCrudComponent', 'selector': 'app-users-crud'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'PexelsComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'PexelsComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
