<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>exetera2-examples documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">exetera2-examples documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>TvmazeComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/tvmaze/tvmaze.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-tvmaze</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./tvmaze.component.css,<br>./tvmaze-modal.component.css</code></td>
            </tr>


            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;form #f&#x3D;&quot;ngForm&quot; (submit)&#x3D;&quot;submit(f.value)&quot;&gt;
  &lt;input class&#x3D;&quot;big-input&quot; type&#x3D;&quot;text&quot; ngModel name&#x3D;&quot;text&quot; required minlength&#x3D;&quot;2&quot;&gt;
  &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;f.invalid&quot; hidden&gt;GO&lt;/button&gt;
&lt;/form&gt;

&lt;!--RESULT LIST--&gt;
&lt;div class&#x3D;&quot;grid&quot;&gt;
  &lt;div class&#x3D;&quot;grid-item&quot; *ngFor&#x3D;&quot;let series of result&quot;&gt;
    &lt;div class&#x3D;&quot;movie&quot; (click)&#x3D;&quot;itemClickHandler(series)&quot;&gt;
      &lt;img
        *ngIf&#x3D;&quot;series.show.image&quot;
        [src]&#x3D;&quot;series.show.image.medium&quot;
      &gt;

      &lt;div *ngIf&#x3D;&quot;!series.show.image&quot; class&#x3D;&quot;noImage&quot;&gt;&lt;/div&gt;
      &lt;div class&#x3D;&quot;movieText&quot;&gt;{{series.show.name}}&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;!--MODAL--&gt;
&lt;div *ngIf&#x3D;&quot;showDetails&quot; class&#x3D;&quot;wrapper&quot;&gt;
  &lt;span class&#x3D;&quot;closeButton&quot; (click)&#x3D;&quot;closeDetails()&quot;&gt;×️&lt;/span&gt;
  &lt;div class&#x3D;&quot;content&quot;&gt;
    &lt;img [src]&#x3D;&quot;showDetails.image.medium&quot; alt&#x3D;&quot;&quot; class&#x3D;&quot;image&quot;&gt;
    &lt;h4&gt;{{showDetails.name}}&lt;/h4&gt;
    &lt;div *ngFor&#x3D;&quot;let tag of showDetails.genres&quot; class&#x3D;&quot;tag&quot;&gt;
      {{tag}}
    &lt;/div&gt;

    &lt;div [innerHTML]&#x3D;&quot;showDetails.summary&quot;&gt;&lt;/div&gt;
    &lt;a class&#x3D;&quot;button&quot; [href]&#x3D;&quot;showDetails.url&quot; target&#x3D;&quot;_blank&quot;&gt;Visit WebSite&lt;/a&gt;
  &lt;/div&gt;

&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#result">result</a>
                            </li>
                            <li>
                                <a href="#showDetails">showDetails</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#closeDetails">closeDetails</a>
                            </li>
                            <li>
                                <a href="#itemClickHandler">itemClickHandler</a>
                            </li>
                            <li>
                                <a href="#submit">submit</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(http: <a href="https://angular.io/api/common/http/HttpClient" target="_blank">HttpClient</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="49" class="link-to-prism">src/app/features/tvmaze/tvmaze.component.ts:49</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>http</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/common/http/HttpClient" target="_blank" >HttpClient</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="closeDetails"></a>
                    <span class="name">
                        <b>
                            closeDetails
                        </b>
                        <a href="#closeDetails"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>closeDetails()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="65"
                            class="link-to-prism">src/app/features/tvmaze/tvmaze.component.ts:65</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="itemClickHandler"></a>
                    <span class="name">
                        <b>
                            itemClickHandler
                        </b>
                        <a href="#itemClickHandler"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>itemClickHandler(series: <a href="../interfaces/Series.html">Series</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="60"
                            class="link-to-prism">src/app/features/tvmaze/tvmaze.component.ts:60</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>series</td>
                                    <td>
                                                <code><a href="../interfaces/Series.html" target="_self" >Series</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="submit"></a>
                    <span class="name">
                        <b>
                            submit
                        </b>
                        <a href="#submit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>submit(undefined)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="55"
                            class="link-to-prism">src/app/features/tvmaze/tvmaze.component.ts:55</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="result"></a>
                        <span class="name">
                            <b>
                            result</b>
                            <a href="#result"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Series.html" target="_self" >Series[]</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="48" class="link-to-prism">src/app/features/tvmaze/tvmaze.component.ts:48</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="showDetails"></a>
                        <span class="name">
                            <b>
                            showDetails</b>
                            <a href="#showDetails"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Show.html" target="_self" >Show</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="49" class="link-to-prism">src/app/features/tvmaze/tvmaze.component.ts:49</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component } from &#x27;@angular/core&#x27;;
import { Series, Show } from &#x27;./model/Series&#x27;;
import { HttpClient } from &#x27;@angular/common/http&#x27;;
import { NgForm } from &#x27;@angular/forms&#x27;;

@Component({
  selector: &#x27;app-tvmaze&#x27;,
  template: &#x60;
    &lt;form #f&#x3D;&quot;ngForm&quot; (submit)&#x3D;&quot;submit(f.value)&quot;&gt;
      &lt;input class&#x3D;&quot;big-input&quot; type&#x3D;&quot;text&quot; ngModel name&#x3D;&quot;text&quot; required minlength&#x3D;&quot;2&quot;&gt;
      &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;f.invalid&quot; hidden&gt;GO&lt;/button&gt;
    &lt;/form&gt;
    
    &lt;!--RESULT LIST--&gt;
    &lt;div class&#x3D;&quot;grid&quot;&gt;
      &lt;div class&#x3D;&quot;grid-item&quot; *ngFor&#x3D;&quot;let series of result&quot;&gt;
        &lt;div class&#x3D;&quot;movie&quot; (click)&#x3D;&quot;itemClickHandler(series)&quot;&gt;
          &lt;img 
            *ngIf&#x3D;&quot;series.show.image&quot; 
            [src]&#x3D;&quot;series.show.image.medium&quot;
          &gt;
          
          &lt;div *ngIf&#x3D;&quot;!series.show.image&quot; class&#x3D;&quot;noImage&quot;&gt;&lt;/div&gt;
          &lt;div class&#x3D;&quot;movieText&quot;&gt;{{series.show.name}}&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    
    &lt;!--MODAL--&gt;
    &lt;div *ngIf&#x3D;&quot;showDetails&quot; class&#x3D;&quot;wrapper&quot;&gt;
      &lt;span class&#x3D;&quot;closeButton&quot; (click)&#x3D;&quot;closeDetails()&quot;&gt;×️&lt;/span&gt;
      &lt;div class&#x3D;&quot;content&quot;&gt;
        &lt;img [src]&#x3D;&quot;showDetails.image.medium&quot; alt&#x3D;&quot;&quot; class&#x3D;&quot;image&quot;&gt;
        &lt;h4&gt;{{showDetails.name}}&lt;/h4&gt;
        &lt;div *ngFor&#x3D;&quot;let tag of showDetails.genres&quot; class&#x3D;&quot;tag&quot;&gt;
          {{tag}}
        &lt;/div&gt;
        
        &lt;div [innerHTML]&#x3D;&quot;showDetails.summary&quot;&gt;&lt;/div&gt;
        &lt;a class&#x3D;&quot;button&quot; [href]&#x3D;&quot;showDetails.url&quot; target&#x3D;&quot;_blank&quot;&gt;Visit WebSite&lt;/a&gt;
      &lt;/div&gt;
      
    &lt;/div&gt;
  &#x60;,
  styleUrls: [&#x27;./tvmaze.component.css&#x27;, &#x27;./tvmaze-modal.component.css&#x27;]
})
export class TvmazeComponent {
  result: Series[];
  showDetails: Show;

  constructor(private http: HttpClient) {
    this.submit({  text: &#x27;soprano&#x27; })
  }

  submit({ text }) {
    this.http.get&lt;Series[]&gt;(&#x27;http://api.tvmaze.com/search/shows?q&#x3D;&#x27; + text)
      .subscribe(res &#x3D;&gt; this.result &#x3D; res)
  }

  itemClickHandler(series: Series) {
    console.log(series.show.name);
    this.showDetails &#x3D; series.show;
  }

  closeDetails() {
    this.showDetails &#x3D; null;
  }
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./tvmaze.component.css</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  flex-grow: 0;
}

.movie {
  width: 100px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.movie img{
  width: 100%
}

.noImage {
  width: 100%;
  height: 140px;
  border: 1px solid #ccc;
  background: repeating-linear-gradient(
      -55deg,
      #222,
      #222 10px,
      #333 10px,
      #333 20px
  );
}

.movieText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
</code></pre>
                <p class="comment">
                    <code>./tvmaze-modal.component.css</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">.wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.content {
  position: relative;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.metadata {
  padding: 10px
}

.tag {
  background-color: #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px 20px;
  display: inline-block;
  color: black;
}

.button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.button:hover {
  color: darkcyan;
  border-color: darkcyan;
}

.image {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.closeButton {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}

.summary {
  padding-bottom: 20px;
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><form #f="ngForm" (submit)="submit(f.value)">  <input class="big-input" type="text" ngModel name="text" required minlength="2">  <button type="submit" [disabled]="f.invalid" hidden>GO</button></form><!--RESULT LIST--><div class="grid">  <div class="grid-item" *ngFor="let series of result">    <div class="movie" (click)="itemClickHandler(series)">      <img        *ngIf="series.show.image"        [src]="series.show.image.medium"      >      <div *ngIf="!series.show.image" class="noImage"></div>      <div class="movieText">{{series.show.name}}</div>    </div>  </div></div><!--MODAL--><div *ngIf="showDetails" class="wrapper">  <span class="closeButton" (click)="closeDetails()">×️</span>  <div class="content">    <img [src]="showDetails.image.medium" alt="" class="image">    <h4>{{showDetails.name}}</h4>    <div *ngFor="let tag of showDetails.genres" class="tag">      {{tag}}    </div>    <div [innerHTML]="showDetails.summary"></div>    <a class="button" [href]="showDetails.url" target="_blank">Visit WebSite</a>  </div></div></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'CardComponent', 'selector': 'app-card'},{'name': 'HelloComponent', 'selector': 'app-hello'},{'name': 'HelpComponent', 'selector': 'app-help'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InputBarComponent', 'selector': 'app-input-bar'},{'name': 'InputIconComponent', 'selector': 'app-input-icon'},{'name': 'LoginComponent', 'selector': 'app-login'},{'name': 'LostpassComponent', 'selector': 'app-lostpass'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'PexelsComponent', 'selector': 'app-pexels'},{'name': 'RegistrationComponent', 'selector': 'app-registration'},{'name': 'SettingsComponent', 'selector': 'app-settings'},{'name': 'SigninComponent', 'selector': 'app-signin'},{'name': 'StaticMapComponent', 'selector': 'app-static-map'},{'name': 'TabbarComponent', 'selector': 'app-tabbar'},{'name': 'TvmazeComponent', 'selector': 'app-tvmaze'},{'name': 'Uikit1Component', 'selector': 'app-uikit1'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UsersCrudComponent', 'selector': 'app-users-crud'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'TvmazeComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'TvmazeComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
