<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>exetera2-examples documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">exetera2-examples documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>Uikit1Component</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/uikit1/uikit1.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-uikit1</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;container&quot;&gt;

 &lt;!--
 &lt;app-tabbar&gt;
    &lt;tab title&#x3D;&quot;tab 1&quot;&gt;&lt;input type&#x3D;&quot;text&quot;&gt;&lt;/tab&gt;
    &lt;tab&gt;2&lt;/tab&gt;
    &lt;tab&gt;3&lt;/tab&gt;
  &lt;/app-tabbar&gt;
  --&gt;


  &lt;div style&#x3D;&quot;background-color: white&quot;&gt;
    &lt;app-tabbar
      [data]&#x3D;&quot;countries&quot;
      [active]&#x3D;&quot;activeCountry&quot;
      icon&#x3D;&quot;fa fa-trash&quot;
      (tabClick)&#x3D;&quot;setActiveCountry($event)&quot;
      (iconClick)&#x3D;&quot;removeCountry($event)&quot;
    &gt;&lt;/app-tabbar&gt;

    &lt;app-tabbar
      [data]&#x3D;&quot;activeCountry?.cities&quot;
      [active]&#x3D;&quot;activeCity&quot;
      labelField&#x3D;&quot;name&quot;
      icon&#x3D;&quot;fa fa-link&quot;
      (tabClick)&#x3D;&quot;setActiveCity($event)&quot;
      (iconClick)&#x3D;&quot;openWiki($event)&quot;
    &gt;&lt;/app-tabbar&gt;
  &lt;/div&gt;

  &lt;app-static-map [city]&#x3D;&quot;activeCity?.name&quot;&gt;&lt;/app-static-map&gt;

  &lt;app-card
    title&#x3D;&quot;Widget 1&quot;
    icon&#x3D;&quot;fa fa-microchip&quot;
    headerClass&#x3D;&quot;bg-dark text-white&quot;
    [marginBottom]&#x3D;&quot;5&quot;
    (iconClick)&#x3D;&quot;openUrl(&#x27;http://www.google.com&#x27;)&quot;
  &gt;
    &lt;div class&#x3D;&quot;header&quot;&gt;
      &lt;app-hello name&#x3D;&quot;yourname&quot; color&#x3D;&quot;orange&quot;&gt;&lt;/app-hello&gt;
    &lt;/div&gt;
    &lt;div class&#x3D;&quot;footer&quot;&gt;
      copyright ciccio balilla
    &lt;/div&gt;
  &lt;/app-card&gt;

  &lt;app-card
    title&#x3D;&quot;Click icon to toggle next card&quot;
    [icon]&#x3D;&quot;visible ? &#x27;fa fa-arrow-down&#x27; : &#x27;fa fa-arrow-up&#x27;&quot;
    (iconClick)&#x3D;&quot;visible &#x3D; !visible&quot;
  &gt;
    &lt;app-static-map class&#x3D;&quot;header&quot; zoom&#x3D;&quot;7&quot; city&#x3D;&quot;Trieste&quot;&gt;&lt;/app-static-map&gt;
    &lt;div class&#x3D;&quot;header&quot;&gt;Toggle visibility&lt;/div&gt;
  &lt;/app-card&gt;

  &lt;app-card title&#x3D;&quot;Widget Map&quot; *ngIf&#x3D;&quot;visible&quot;&gt;bla bla&lt;/app-card&gt;

&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#activeCity">activeCity</a>
                            </li>
                            <li>
                                <a href="#activeCountry">activeCountry</a>
                            </li>
                            <li>
                                <a href="#countries">countries</a>
                            </li>
                            <li>
                                <a href="#visible">visible</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#openUrl">openUrl</a>
                            </li>
                            <li>
                                <a href="#openWiki">openWiki</a>
                            </li>
                            <li>
                                <a href="#removeCountry">removeCountry</a>
                            </li>
                            <li>
                                <a href="#setActiveCity">setActiveCity</a>
                            </li>
                            <li>
                                <a href="#setActiveCountry">setActiveCountry</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor()</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="87" class="link-to-prism">src/app/features/uikit1/uikit1.component.ts:87</a></div>
                            </td>
                        </tr>

            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="openUrl"></a>
                    <span class="name">
                        <b>
                            openUrl
                        </b>
                        <a href="#openUrl"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>openUrl(url: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="125"
                            class="link-to-prism">src/app/features/uikit1/uikit1.component.ts:125</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>url</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="openWiki"></a>
                    <span class="name">
                        <b>
                            openWiki
                        </b>
                        <a href="#openWiki"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>openWiki(city: <a href="../interfaces/City.html">City</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="129"
                            class="link-to-prism">src/app/features/uikit1/uikit1.component.ts:129</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>city</td>
                                    <td>
                                                <code><a href="../interfaces/City.html" target="_self" >City</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="removeCountry"></a>
                    <span class="name">
                        <b>
                            removeCountry
                        </b>
                        <a href="#removeCountry"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>removeCountry(country: <a href="../interfaces/Country.html">Country</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="133"
                            class="link-to-prism">src/app/features/uikit1/uikit1.component.ts:133</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>country</td>
                                    <td>
                                                <code><a href="../interfaces/Country.html" target="_self" >Country</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="setActiveCity"></a>
                    <span class="name">
                        <b>
                            setActiveCity
                        </b>
                        <a href="#setActiveCity"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>setActiveCity(city: <a href="../interfaces/City.html">City</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="121"
                            class="link-to-prism">src/app/features/uikit1/uikit1.component.ts:121</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>city</td>
                                    <td>
                                                <code><a href="../interfaces/City.html" target="_self" >City</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="setActiveCountry"></a>
                    <span class="name">
                        <b>
                            setActiveCountry
                        </b>
                        <a href="#setActiveCountry"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>setActiveCountry(country: <a href="../interfaces/Country.html">Country</a>, index: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank">number</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="117"
                            class="link-to-prism">src/app/features/uikit1/uikit1.component.ts:117</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                    <td>Default value</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>country</td>
                                    <td>
                                                <code><a href="../interfaces/Country.html" target="_self" >Country</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>

                                    <td>
                                    </td>

                                </tr>
                                <tr>
                                    <td>index</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>

                                    <td>
                                        <code>0</code>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="activeCity"></a>
                        <span class="name">
                            <b>
                            activeCity</b>
                            <a href="#activeCity"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/City.html" target="_self" >City</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="85" class="link-to-prism">src/app/features/uikit1/uikit1.component.ts:85</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="activeCountry"></a>
                        <span class="name">
                            <b>
                            activeCountry</b>
                            <a href="#activeCountry"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Country.html" target="_self" >Country</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="84" class="link-to-prism">src/app/features/uikit1/uikit1.component.ts:84</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="countries"></a>
                        <span class="name">
                            <b>
                            countries</b>
                            <a href="#countries"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>Country[]</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="87" class="link-to-prism">src/app/features/uikit1/uikit1.component.ts:87</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="visible"></a>
                        <span class="name">
                            <b>
                            visible</b>
                            <a href="#visible"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>false</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="83" class="link-to-prism">src/app/features/uikit1/uikit1.component.ts:83</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component } from &#x27;@angular/core&#x27;;

interface Country {
  id: number;
  label: string;
  cities: City[];
}

interface City {
  id: number;
  name: string;
  description: string;
}


@Component({
  selector: &#x27;app-uikit1&#x27;,
  template: &#x60;
    &lt;div class&#x3D;&quot;container&quot;&gt;

     &lt;!-- 
     &lt;app-tabbar&gt;
        &lt;tab title&#x3D;&quot;tab 1&quot;&gt;&lt;input type&#x3D;&quot;text&quot;&gt;&lt;/tab&gt;
        &lt;tab&gt;2&lt;/tab&gt;
        &lt;tab&gt;3&lt;/tab&gt;
      &lt;/app-tabbar&gt;
      --&gt;

      
      &lt;div style&#x3D;&quot;background-color: white&quot;&gt;
        &lt;app-tabbar 
          [data]&#x3D;&quot;countries&quot; 
          [active]&#x3D;&quot;activeCountry&quot;
          icon&#x3D;&quot;fa fa-trash&quot;
          (tabClick)&#x3D;&quot;setActiveCountry($event)&quot;
          (iconClick)&#x3D;&quot;removeCountry($event)&quot;
        &gt;&lt;/app-tabbar&gt;
        
        &lt;app-tabbar 
          [data]&#x3D;&quot;activeCountry?.cities&quot; 
          [active]&#x3D;&quot;activeCity&quot;
          labelField&#x3D;&quot;name&quot;
          icon&#x3D;&quot;fa fa-link&quot;
          (tabClick)&#x3D;&quot;setActiveCity($event)&quot;
          (iconClick)&#x3D;&quot;openWiki($event)&quot;
        &gt;&lt;/app-tabbar&gt;
      &lt;/div&gt;
      
      &lt;app-static-map [city]&#x3D;&quot;activeCity?.name&quot;&gt;&lt;/app-static-map&gt;

      &lt;app-card 
        title&#x3D;&quot;Widget 1&quot;
        icon&#x3D;&quot;fa fa-microchip&quot;
        headerClass&#x3D;&quot;bg-dark text-white&quot;
        [marginBottom]&#x3D;&quot;5&quot;
        (iconClick)&#x3D;&quot;openUrl(&#x27;http://www.google.com&#x27;)&quot;
      &gt;
        &lt;div class&#x3D;&quot;header&quot;&gt;
          &lt;app-hello name&#x3D;&quot;yourname&quot; color&#x3D;&quot;orange&quot;&gt;&lt;/app-hello&gt;
        &lt;/div&gt;
        &lt;div class&#x3D;&quot;footer&quot;&gt;
          copyright ciccio balilla
        &lt;/div&gt;
      &lt;/app-card&gt;

      &lt;app-card 
        title&#x3D;&quot;Click icon to toggle next card&quot; 
        [icon]&#x3D;&quot;visible ? &#x27;fa fa-arrow-down&#x27; : &#x27;fa fa-arrow-up&#x27;&quot; 
        (iconClick)&#x3D;&quot;visible &#x3D; !visible&quot;
      &gt;
        &lt;app-static-map class&#x3D;&quot;header&quot; zoom&#x3D;&quot;7&quot; city&#x3D;&quot;Trieste&quot;&gt;&lt;/app-static-map&gt;
        &lt;div class&#x3D;&quot;header&quot;&gt;Toggle visibility&lt;/div&gt;
      &lt;/app-card&gt;
      
      &lt;app-card title&#x3D;&quot;Widget Map&quot; *ngIf&#x3D;&quot;visible&quot;&gt;bla bla&lt;/app-card&gt;
      
    &lt;/div&gt;
  &#x60;,
  styles: [
  ]
})
export class Uikit1Component {
  visible &#x3D; false;
  activeCountry: Country;
  activeCity: City;

  countries: Country[];

  constructor() {
    setTimeout(() &#x3D;&gt; {
      this.countries &#x3D; [
        { id: 1000, label: &#x27;Italy&#x27;,
          cities: [
            { id: 1, name: &#x27;Rome&#x27;, description: &#x27;bla bla1 &#x27;},
            { id: 2, name: &#x27;Verona&#x27;, description: &#x27;bla bla 2&#x27;},
            { id: 3, name: &#x27;Vicenza&#x27;, description: &#x27;bla bla 2&#x27;}
          ]
        },
        { id: 1001, label: &#x27;UK&#x27;,
          cities: [
            { id: 1, name: &#x27;London&#x27;, description: &#x27;bla bla &#x27;}
          ]
        },
        { id: 1002, label: &#x27;Spain&#x27;,
          cities: [
            { id: 1, name: &#x27;Madrid&#x27;, description: &#x27;bla bla &#x27;},
            { id: 2, name: &#x27;Barcellona&#x27;, description: &#x27;bla bla &#x27;}
          ]
        },
      ];
      this.setActiveCountry(this.countries[0])
    }, 1000);

  }


  setActiveCountry(country: Country, index &#x3D; 0) {
   this.activeCountry &#x3D; country;
   this.activeCity &#x3D; country.cities[index];
  }
  setActiveCity(city: City) {
    this.activeCity &#x3D; city;
  }

  openUrl(url: string) {
    window.open(url);
  }

  openWiki(city: City) {
    window.open(&#x27;https://it.wikipedia.org/wiki/&#x27; + city.name)
  }

  removeCountry(country: Country) {
    console.log(&#x27;remove country&#x27;)
    const index &#x3D; this.countries.findIndex(c &#x3D;&gt; c.id &#x3D;&#x3D;&#x3D; country.id);
    this.countries.splice(index, 1);
    if (country.id &#x3D;&#x3D;&#x3D; this.activeCountry.id) {
      this.activeCountry &#x3D; this.countries.length ? this.countries[0] : null;
      this.activeCity &#x3D; this.activeCountry ?  this.activeCountry.cities[0] : null
    }
  }

}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="container"> <!-- <app-tabbar>    <tab title="tab 1"><input type="text"></tab>    <tab>2</tab>    <tab>3</tab>  </app-tabbar>  -->  <div style="background-color: white">    <app-tabbar      [data]="countries"      [active]="activeCountry"      icon="fa fa-trash"      (tabClick)="setActiveCountry($event)"      (iconClick)="removeCountry($event)"    ></app-tabbar>    <app-tabbar      [data]="activeCountry?.cities"      [active]="activeCity"      labelField="name"      icon="fa fa-link"      (tabClick)="setActiveCity($event)"      (iconClick)="openWiki($event)"    ></app-tabbar>  </div>  <app-static-map [city]="activeCity?.name"></app-static-map>  <app-card    title="Widget 1"    icon="fa fa-microchip"    headerClass="bg-dark text-white"    [marginBottom]="5"    (iconClick)="openUrl(\'http://www.google.com\')"  >    <div class="header">      <app-hello name="yourname" color="orange"></app-hello>    </div>    <div class="footer">      copyright ciccio balilla    </div>  </app-card>  <app-card    title="Click icon to toggle next card"    [icon]="visible ? \'fa fa-arrow-down\' : \'fa fa-arrow-up\'"    (iconClick)="visible = !visible"  >    <app-static-map class="header" zoom="7" city="Trieste"></app-static-map>    <div class="header">Toggle visibility</div>  </app-card>  <app-card title="Widget Map" *ngIf="visible">bla bla</app-card></div></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'CardComponent', 'selector': 'app-card'},{'name': 'HelloComponent', 'selector': 'app-hello'},{'name': 'HelpComponent', 'selector': 'app-help'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InputBarComponent', 'selector': 'app-input-bar'},{'name': 'InputIconComponent', 'selector': 'app-input-icon'},{'name': 'LoginComponent', 'selector': 'app-login'},{'name': 'LostpassComponent', 'selector': 'app-lostpass'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'PexelsComponent', 'selector': 'app-pexels'},{'name': 'RegistrationComponent', 'selector': 'app-registration'},{'name': 'SettingsComponent', 'selector': 'app-settings'},{'name': 'SigninComponent', 'selector': 'app-signin'},{'name': 'StaticMapComponent', 'selector': 'app-static-map'},{'name': 'TabbarComponent', 'selector': 'app-tabbar'},{'name': 'TvmazeComponent', 'selector': 'app-tvmaze'},{'name': 'Uikit1Component', 'selector': 'app-uikit1'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UsersCrudComponent', 'selector': 'app-users-crud'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'Uikit1Component'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'Uikit1Component.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
