<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>exetera2-examples documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">exetera2-examples documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>UsersCrudComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/users/pages/users/users-crud.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-users-crud</code></td>
            </tr>


            <tr>
                <td class="col-md-3">styles</td>
                <td class="col-md-9"><code>
    
  </code></td>
            </tr>

            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;hr&gt;
&lt;div class&#x3D;&quot;alert alert-danger&quot; *ngIf&#x3D;&quot;usersService.error&quot;&gt;Errore server&lt;/div&gt;
&lt;pre&gt;{{inputName.errors | json}}&lt;/pre&gt;
&lt;div class&#x3D;&quot;container mt-2&quot;&gt;
  &lt;form
    #f&#x3D;&quot;ngForm&quot;
    (submit)&#x3D;&quot;usersService.saveHandler(f.value)&quot;
  &gt;
    &lt;div class&#x3D;&quot;input-group&quot;&gt;
      &lt;div class&#x3D;&quot;input-group-prepend&quot;&gt;
        &lt;div class&#x3D;&quot;input-group-text&quot;&gt;
          &lt;app-input-icon [inputModelRef]&#x3D;&quot;inputName&quot;&gt;&lt;/app-input-icon&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;app-input-bar [inputError]&#x3D;&quot;inputName.errors&quot;&gt;&lt;/app-input-bar&gt;

      &lt;input
        class&#x3D;&quot;form-control&quot;
        [ngClass]&#x3D;&quot;{
          &#x27;is-invalid&#x27;: inputName.invalid &amp;&amp; f.dirty,
          &#x27;is-valid&#x27;: inputName.valid
        }&quot;
        placeholder&#x3D;&quot;Name&quot;
        type&#x3D;&quot;text&quot;
        name&#x3D;&quot;name&quot;
        [ngModel]
        required minlength&#x3D;&quot;5&quot; #inputName&#x3D;&quot;ngModel&quot;&gt;
    &lt;/div&gt;


    &lt;div class&#x3D;&quot;input-group&quot;&gt;
      &lt;div class&#x3D;&quot;input-group-prepend&quot;&gt;
        &lt;div class&#x3D;&quot;input-group-text&quot;&gt;
          &lt;app-input-icon [inputModelRef]&#x3D;&quot;inputCity&quot;&gt;&lt;/app-input-icon&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;app-input-bar [inputError]&#x3D;&quot;inputCity.errors&quot;&gt;&lt;/app-input-bar&gt;

      &lt;input
        class&#x3D;&quot;form-control&quot;
        placeholder&#x3D;&quot;City&quot;
        type&#x3D;&quot;text&quot;
        name&#x3D;&quot;city&quot;
        [ngModel]
        #inputCity&#x3D;&quot;ngModel&quot;
        [ngClass]&#x3D;&quot;{
          &#x27;is-invalid&#x27;: inputCity.invalid &amp;&amp; f.dirty,
          &#x27;is-valid&#x27;: inputCity.valid
        }&quot;
        required
        minlength&#x3D;&quot;4&quot;
      &gt;
    &lt;/div&gt;


    &lt;select class&#x3D;&quot;form-control&quot; name&#x3D;&quot;gender&quot; [ngModel]&gt;
      &lt;option [ngValue]&#x3D;&quot;null&quot;&gt;Select Gender&lt;/option&gt;
      &lt;option value&#x3D;&quot;M&quot;&gt;male&lt;/option&gt;
      &lt;option value&#x3D;&quot;F&quot;&gt;female&lt;/option&gt;
    &lt;/select&gt;
    &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;f.invalid&quot;&gt;save&lt;/button&gt;
  &lt;/form&gt;

  &lt;div *ngIf&#x3D;&quot;!usersService.users&quot;&gt;loading...&lt;/div&gt;
  &lt;div *ngIf&#x3D;&quot;!usersService.users?.length&quot;&gt;There are no users&lt;/div&gt;

  &lt;li
    class&#x3D;&quot;list-group-item&quot;
    *ngFor&#x3D;&quot;let user of usersService.users&quot;
    [ngClass]&#x3D;&quot;{
      &#x27;male&#x27;: user.gender &#x3D;&#x3D;&#x3D; &#x27;M&#x27;,
      &#x27;female&#x27;: user.gender &#x3D;&#x3D;&#x3D; &#x27;F&#x27;
    }&quot;
  &gt;
    {{user.name}} &lt;br&gt;
    &lt;i class&#x3D;&quot;fa fa-trash pull-right&quot; (click)&#x3D;&quot;usersService.deleteUser(user)&quot;&gt;delete&lt;/i&gt;
    &lt;div *ngIf&#x3D;&quot;user.birthday&quot;&gt;BirthDay: {{user.birthday | date}}&lt;/div&gt;

    &lt;img
      *ngIf&#x3D;&quot;user.city&quot;
      [src]&#x3D;&quot;&#x27;https://maps.googleapis.com/maps/api/staticmap?center&#x3D;&#x27; + user.city + &#x27;&amp;zoom&#x3D;5&amp;size&#x3D;200x100&amp;key&#x3D;AIzaSyDSBmiSWV4-AfzaTPNSJhu-awtfBNi9o2k&#x27;&quot;
      alt&#x3D;&quot;&quot;
    &gt;
  &lt;/li&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#usersService">usersService</a>
                            </li>
                        </ul>
                    </td>
                </tr>






        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(usersService: <a href="../injectables/UsersService.html">UsersService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="98" class="link-to-prism">src/app/features/users/pages/users/users-crud.component.ts:98</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>usersService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/UsersService.html" target="_self" >UsersService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>






    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="usersService"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            usersService</b>
                            <a href="#usersService"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../injectables/UsersService.html" target="_self" >UsersService</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="100" class="link-to-prism">src/app/features/users/pages/users/users-crud.component.ts:100</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, ElementRef, OnInit, ViewChild } from &#x27;@angular/core&#x27;;
import { UsersService } from &#x27;../../services/users.service&#x27;;

@Component({
  selector: &#x27;app-users-crud&#x27;,
  template: &#x60;
    &lt;hr&gt;
    &lt;div class&#x3D;&quot;alert alert-danger&quot; *ngIf&#x3D;&quot;usersService.error&quot;&gt;Errore server&lt;/div&gt;
    &lt;pre&gt;{{inputName.errors | json}}&lt;/pre&gt;
    &lt;div class&#x3D;&quot;container mt-2&quot;&gt;
      &lt;form
        #f&#x3D;&quot;ngForm&quot;
        (submit)&#x3D;&quot;usersService.saveHandler(f.value)&quot;
      &gt;
        &lt;div class&#x3D;&quot;input-group&quot;&gt;
          &lt;div class&#x3D;&quot;input-group-prepend&quot;&gt;
            &lt;div class&#x3D;&quot;input-group-text&quot;&gt;
              &lt;app-input-icon [inputModelRef]&#x3D;&quot;inputName&quot;&gt;&lt;/app-input-icon&gt;
            &lt;/div&gt;
          &lt;/div&gt;
       
          &lt;app-input-bar [inputError]&#x3D;&quot;inputName.errors&quot;&gt;&lt;/app-input-bar&gt;

          &lt;input
            class&#x3D;&quot;form-control&quot;
            [ngClass]&#x3D;&quot;{
              &#x27;is-invalid&#x27;: inputName.invalid &amp;&amp; f.dirty, 
              &#x27;is-valid&#x27;: inputName.valid
            }&quot;
            placeholder&#x3D;&quot;Name&quot;
            type&#x3D;&quot;text&quot;
            name&#x3D;&quot;name&quot;
            [ngModel]
            required minlength&#x3D;&quot;5&quot; #inputName&#x3D;&quot;ngModel&quot;&gt;
        &lt;/div&gt;


        &lt;div class&#x3D;&quot;input-group&quot;&gt;
          &lt;div class&#x3D;&quot;input-group-prepend&quot;&gt;
            &lt;div class&#x3D;&quot;input-group-text&quot;&gt;
              &lt;app-input-icon [inputModelRef]&#x3D;&quot;inputCity&quot;&gt;&lt;/app-input-icon&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;app-input-bar [inputError]&#x3D;&quot;inputCity.errors&quot;&gt;&lt;/app-input-bar&gt;

          &lt;input
            class&#x3D;&quot;form-control&quot;
            placeholder&#x3D;&quot;City&quot;
            type&#x3D;&quot;text&quot;
            name&#x3D;&quot;city&quot;
            [ngModel]
            #inputCity&#x3D;&quot;ngModel&quot;
            [ngClass]&#x3D;&quot;{
              &#x27;is-invalid&#x27;: inputCity.invalid &amp;&amp; f.dirty, 
              &#x27;is-valid&#x27;: inputCity.valid
            }&quot;
            required
            minlength&#x3D;&quot;4&quot;
          &gt;
        &lt;/div&gt;


        &lt;select class&#x3D;&quot;form-control&quot; name&#x3D;&quot;gender&quot; [ngModel]&gt;
          &lt;option [ngValue]&#x3D;&quot;null&quot;&gt;Select Gender&lt;/option&gt;
          &lt;option value&#x3D;&quot;M&quot;&gt;male&lt;/option&gt;
          &lt;option value&#x3D;&quot;F&quot;&gt;female&lt;/option&gt;
        &lt;/select&gt;
        &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;f.invalid&quot;&gt;save&lt;/button&gt;
      &lt;/form&gt;

      &lt;div *ngIf&#x3D;&quot;!usersService.users&quot;&gt;loading...&lt;/div&gt;
      &lt;div *ngIf&#x3D;&quot;!usersService.users?.length&quot;&gt;There are no users&lt;/div&gt;

      &lt;li
        class&#x3D;&quot;list-group-item&quot;
        *ngFor&#x3D;&quot;let user of usersService.users&quot;
        [ngClass]&#x3D;&quot;{
          &#x27;male&#x27;: user.gender &#x3D;&#x3D;&#x3D; &#x27;M&#x27;,
          &#x27;female&#x27;: user.gender &#x3D;&#x3D;&#x3D; &#x27;F&#x27;
        }&quot;
      &gt;
        {{user.name}} &lt;br&gt;
        &lt;i class&#x3D;&quot;fa fa-trash pull-right&quot; (click)&#x3D;&quot;usersService.deleteUser(user)&quot;&gt;delete&lt;/i&gt;
        &lt;div *ngIf&#x3D;&quot;user.birthday&quot;&gt;BirthDay: {{user.birthday | date}}&lt;/div&gt;

        &lt;img
          *ngIf&#x3D;&quot;user.city&quot;
          [src]&#x3D;&quot;&#x27;https://maps.googleapis.com/maps/api/staticmap?center&#x3D;&#x27; + user.city + &#x27;&amp;zoom&#x3D;5&amp;size&#x3D;200x100&amp;key&#x3D;AIzaSyDSBmiSWV4-AfzaTPNSJhu-awtfBNi9o2k&#x27;&quot;
          alt&#x3D;&quot;&quot;
        &gt;
      &lt;/li&gt;
    &lt;/div&gt;
  &#x60;,
  styles: [&#x60;
    
  &#x60;]
})
export class UsersCrudComponent {

  constructor(public usersService: UsersService) {
    usersService.getUsers();
  }
}


</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
            <pre class="line-numbers"><code class="language-scss">
    
  
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><hr><div class="alert alert-danger" *ngIf="usersService.error">Errore server</div><pre>{{inputName.errors | json}}</pre><div class="container mt-2">  <form    #f="ngForm"    (submit)="usersService.saveHandler(f.value)"  >    <div class="input-group">      <div class="input-group-prepend">        <div class="input-group-text">          <app-input-icon [inputModelRef]="inputName"></app-input-icon>        </div>      </div>      <app-input-bar [inputError]="inputName.errors"></app-input-bar>      <input        class="form-control"        [ngClass]="{          \'is-invalid\': inputName.invalid && f.dirty,          \'is-valid\': inputName.valid        }"        placeholder="Name"        type="text"        name="name"        [ngModel]        required minlength="5" #inputName="ngModel">    </div>    <div class="input-group">      <div class="input-group-prepend">        <div class="input-group-text">          <app-input-icon [inputModelRef]="inputCity"></app-input-icon>        </div>      </div>      <app-input-bar [inputError]="inputCity.errors"></app-input-bar>      <input        class="form-control"        placeholder="City"        type="text"        name="city"        [ngModel]        #inputCity="ngModel"        [ngClass]="{          \'is-invalid\': inputCity.invalid && f.dirty,          \'is-valid\': inputCity.valid        }"        required        minlength="4"      >    </div>    <select class="form-control" name="gender" [ngModel]>      <option [ngValue]="null">Select Gender</option>      <option value="M">male</option>      <option value="F">female</option>    </select>    <button type="submit" [disabled]="f.invalid">save</button>  </form>  <div *ngIf="!usersService.users">loading...</div>  <div *ngIf="!usersService.users?.length">There are no users</div>  <li    class="list-group-item"    *ngFor="let user of usersService.users"    [ngClass]="{      \'male\': user.gender === \'M\',      \'female\': user.gender === \'F\'    }"  >    {{user.name}} <br>    <i class="fa fa-trash pull-right" (click)="usersService.deleteUser(user)">delete</i>    <div *ngIf="user.birthday">BirthDay: {{user.birthday | date}}</div>    <img      *ngIf="user.city"      [src]="\'https://maps.googleapis.com/maps/api/staticmap?center=\' + user.city + \'&zoom=5&size=200x100&key=AIzaSyDSBmiSWV4-AfzaTPNSJhu-awtfBNi9o2k\'"      alt=""    >  </li></div></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'CardComponent', 'selector': 'app-card'},{'name': 'HelloComponent', 'selector': 'app-hello'},{'name': 'HelpComponent', 'selector': 'app-help'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InputBarComponent', 'selector': 'app-input-bar'},{'name': 'InputIconComponent', 'selector': 'app-input-icon'},{'name': 'LoginComponent', 'selector': 'app-login'},{'name': 'LostpassComponent', 'selector': 'app-lostpass'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'PexelsComponent', 'selector': 'app-pexels'},{'name': 'RegistrationComponent', 'selector': 'app-registration'},{'name': 'SettingsComponent', 'selector': 'app-settings'},{'name': 'SigninComponent', 'selector': 'app-signin'},{'name': 'StaticMapComponent', 'selector': 'app-static-map'},{'name': 'TabbarComponent', 'selector': 'app-tabbar'},{'name': 'TvmazeComponent', 'selector': 'app-tvmaze'},{'name': 'Uikit1Component', 'selector': 'app-uikit1'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UsersCrudComponent', 'selector': 'app-users-crud'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'UsersCrudComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'UsersCrudComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
